
.logo{
  width: auto;
  height: 120px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
/*Leave out for now
.banner{
  height: 140px;
  background-image: url('../images/Wizard_Head_BIAB.jpeg');
  background-size:cover;
  background-position: center -30px;
}
#card {
  border: 1px solid navy;
  display:flex;
  flex-direction: row;
  justify-content:center;align-items: center;
  flex-flow: row wrap;
}

.card-img{
  height: auto;
  width: 100px;}

.card-title{

}
.bottomArea{
  background-color: whitesmoke;
  height: 250px;
  color:black;
  font-size: .80rem;
}
.bottomArea p{
  font-size: .80rem;
}
.bottomArea h5{
  font-weight: 800;
  font-size: 16px;
}
.w-60{
  width: 60%!important;
}
.h-30{
  width: 60%!important;
}
.w-20{
  width: 20%!important;}

@media (min-width: 576px) {
  .banner{
    height: 200px;
  }
}
@media (min-width: 768px) {
  .banner{
    height: 300px;
  }
}
@media (min-width: 992px) {
  .banner{
    height: 400px;
  }
}
*/